.backgroundimage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    height: 280px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    background-color: #595959;
    
}

.imageBanniereAccueil {
    height: 280px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    margin-bottom: -180px;
}

.lmj-title-banner-montain {
    font-family: 'Montserrat';
    font-style: normal;
    color: #ffff;
    font-size: 40px;
    text-align: center;
       
}



