.galerieimg {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 15px;
}

.galerie {
    display: flex;
    align-items: center;
    
}

.nombre_image {
    color: white;
    display: block;
    text-align: center;
    position: relative;
    top: -50px;
    font-size: 20px;
}

.galerie_boutton_right {
    position: relative;
    right: 110px;
    color: white;
    font-size: 120px;
    width: 0;
    cursor: grab;
}

.galerie_boutton_left {
    position: relative;
    left: 20px;
    color: white;
    font-size: 120px;
    width: 0;
    cursor: grab;
}

  /* mobile*/

  @media screen and  (max-width: 767px) {
    .galerieimg {
        width: 100%;
        height: 235px;
        border-radius: 15px;
    }
    
    .nombre_image {
        display: none;
    }
    
    .galerie_boutton_right {
        right: 50px;
        font-size: 60px; 
    }
    
    .galerie_boutton_left {
        left: 5px;
        font-size: 50px;
    }
}