.Error404{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    color: #FF6060;   
}
.Error404_code{
    font-size: 200px;
    font-family: "Montserrat";
    height: 95px;

}
.Error404_message{
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat";
}
.Error404_link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    color: #FF6060;
    font-family: "Montserrat";
    padding-top: 150px;
}


@media screen and  (max-width: 767px){
    
    .Error404_code{
        font-size: 120px;
        height: 55px;
          
    }

    .Error404_message{
        font-size: 22px;
        padding-left: 55px;
        padding-bottom: 55px;
        
    }

    .Error404_link {
        padding-top: 70px;
    }
            
    }

    
@media screen and (min-width:768px) and (max-width:991px) {
    
    .Error404_message{
        font-size: 22px;
        padding-left: 55px;
        padding-bottom: 55px;
        
    }
}