

.dropdownapropos {
    width: 75%; 
    overflow: hidden;
    margin:  auto ;
}

 .dropdownHeaderapropos {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060 ; 
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    height: 8px;
} 
.dropdownHeaderapropos h4 {
    margin-left: 15px;
    font-family: "Montserrat";
}

.dropdownBodyapropos {
    background-color: #f6f6f6;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.dropdownTextapropos {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.4;
    margin: 0;
    font-family: "Montserrat",sans-serif;
    color: #ff6060;
    font-size: 20px;
    cursor: default;
	height: 120px;
    font-family: "Montserrat";
}


.chevronapropos {
    font-size: 25px; 
}


    


  /* mobile*/

  @media screen and  (max-width: 767px) {

    .dropdownapropos {
        width: 100%; 
        overflow: hidden;
        margin:  auto ;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }

    .dropdownTextapropos {
        font-size: 12px;    
    }

    .dropdownHeaderapropos {
        height: 1px;
    } 

    .dropdownBodyapropos {
    height: 150px;
    }
   
  }
