body {
    padding-left: 5%;
    padding-right: 5%;
}

.lmj-banner {
    display: flex;
    justify-content: space-between;
    
}

.lmj-title {
    color: black;
       
}

.onglet {
    display: flex;
    
}

.onglet h1 {
    margin-left: 45px;
    font-size: 30px;
    
}