body {
    padding-left: 5%;
    padding-right: 5%;
}

.lmj-banner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
   
}
.lmj-logo {
    height: 80px;
    padding-top: 25px;
}
.lienMenu {
    display: flex;
    height: 70px;
    font-size: 20px;   
}

.lienMenu li {
    list-style: none;
    text-decoration: none;
    padding-top: 30px;
    margin: 0px 55px;
    border-top: 3px white solid;
  }

.lienMenu li a {
    text-decoration: none;
    color: #FF6060;
    font-size: 25px;
 }

.lienMenu li:hover {
    border-bottom: 3px solid #FF6060;

  }

