.conteneurdetail {
    display: flex;
    justify-content: space-between;
}

.flex_utilisateur {
    display: flex;
    width: fit-content;
    align-items: center;
}

.flex_utilisateur p {
    font-size: 24px;
    text-align: right;
}

.imageuser {
    border-radius: 50%;
    height: 72px;
    width: 32%;
    margin-left: 15px;
}
.star {
    text-align: right;
    
}

.titreimage {
    font-size: 36px;
    color: #FF6060;
    font-family: "Montserrat";
}

.localisation {
    font-size: 18px;
    color: #FF6060;
    font-family: "Montserrat";
}
 .descriptionlogement {
    line-height: 12px;
 }

 .commentaire {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
 }


 li {
    list-style: none;
 }

.tags {
    font-family: "Montserrat";
}


