.conteneurdetail {
    display: flex;
    justify-content: space-between;
}

.flex_utilisateur {
    display: flex;
    width: fit-content;
    align-items: center;
}

.flex_utilisateur p {
    font-size: 24px;
    text-align: right;
}

.imageuser {
    border-radius: 50%;
    height: 72px;
    width: 32%;
    margin-left: 15px;
}
.star {
    text-align: right;
}

.titreimage {
    font-size: 36px;
    color: #FF6060;
}

.localisation {
    font-size: 18px;
    color: #FF6060;
}
 .descriptionlogement {
    line-height: 12px;
 }

 .commentaire {
    display: flex;
 }

 .left {
    position: absolute;
    left: -1.5%;
    width: 50%;
 }
 .right {
    position: absolute;
    right: -1.5%; 
    width: 50%;
 }

 li {
    list-style: none;
 }