.tagtexte {
    background-color: #FF6060;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
    text-align: center;
    height: 21px;
    font-size: 14px;
    list-style: none;
    padding-top: 6px;
}

.tag {
    display: flex;
    gap: 10px;
    padding: 0;
}

 /* mobile*/

 @media screen and  (max-width: 767px) {
    .tagtexte {
        height: 24px;

    }
 }
